---
import Base from '../layouts/base.astro'
import Modal from '../components/modal'
import * as Icons from 'lucide-solid'
---

<Base>
  <Modal client:load />
  <div class="h-screen w-screen z-40 absolute top-0 left-0">
    <iframe id="frame" class="h-full w-full"></iframe>
  </div>

  <div class="absolute left-1/2 bottom-2 sm:bottom-4 -translate-x-1/2 join rounded-btn bg-base-200 z-50" transition:name="control">
    <button class="inline-flex sm:inline-flex btn btn-square join-item" id="back">
      <Icons.ChevronLeft class="h-5 w-5" strokeWidth={2.5} />
    </button>

    <button class="hidden sm:inline-flex btn btn-square join-item" id="reload">
      <Icons.RotateCw class="h-5 w-5" strokeWidth={2.5} />
    </button>

    <button class="hidden sm:inline-flex btn btn-square join-item" id="eruda">
      <Icons.Wrench class="h-5 w-5" strokeWidth={2.5} />
    </button>

    <input transition:persist="input" type="text" id="input" class="" />

    <button class="hidden sm:inline-flex btn btn-square join-item" id="open">
      <Icons.ArrowUpRightFromSquare class="h-5 w-5" strokeWidth={2.5} />
    </button>

    <button class=" btn btn-square join-item" id="bookmark">
      <Icons.Bookmark class="h-5 w-5" id="fav-icn" fill="none" strokeWidth={2.5} id="bm-icon" />
    </button>

    <a href="/">
      <button class="btn btn-square join-item">
        <Icons.Home class="h-5 w-5" strokeWidth={2.5} />
      </button>
    </a>
  </div>

  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center gap-3 z-10" id="loader">
    <h1 class="text-4xl font-semibold">Loading</h1>
    <span class="loading loading-dots w-14"></span>
  </div>
</Base>

<script>
  // Initial iframe loading
  import { clearRegistrations, registerSW } from '../lib/sw'
  import store from 'store2'
  // @ts-ignore
  import { encodeXor, formatQuery } from '../lib/formatQuery'

  document.addEventListener('astro:page-load', async () => {
    if (!window.location.pathname.includes('/route')) return

    const frame: any = document.getElementById('frame')
    const input = document.querySelector('input')
    input.className = 'input bg-base-200 focus:border-none focus:outline-none w-68 sm:w-80 sm:2-96 text-center sm:text-left';
    const urlParams = new URLSearchParams(window.location.search)
    let prox: string
    if (store.get('proxy') === 'Scramjet') {
      prox = '/libs'
    } else {
      prox = '/cdn-cgi'
    }
    if (urlParams.get('q')) input.value = decodeURIComponent(atob(urlParams.get('q')))
    urlParams.delete('q')
    window.history.replaceState(null, '', '/route')

    if (!input.value) input.value = 'https://google.com'

    const preurl = formatQuery(input.value)
    const url = `${prox}/${encodeXor(preurl)}`
    console.log(input.value)
    input.blur()

    if ('serviceWorker' in navigator) {
      await clearRegistrations()
      await registerSW()

      frame.src = url
    }
  })
</script>

<script>
  // Control handling
  import { encodeXor, formatQuery } from '../lib/formatQuery'
  import { handleCompatibility } from '../lib/compatibility'
  import { showModal } from '../components/modal'
  import store from 'store2'
  import toast from 'solid-toast'

  interface ContentWindow extends Window {
    __uv$location: Location
    eruda: any
  }

  document.addEventListener('astro:page-load', async () => {
    if (!window.location.pathname.includes('/route')) return

    const frame = document.querySelector('iframe')
    const contentWindow = frame.contentWindow as ContentWindow
    const back: HTMLButtonElement = document.querySelector('#back')
    const reload: HTMLButtonElement = document.querySelector('#reload')
    const open: HTMLButtonElement = document.querySelector('#open')
    const bookmark: HTMLButtonElement = document.querySelector('#bookmark')
    const bmIcon: HTMLButtonElement = document.querySelector('#bm-icon')
    const input: HTMLInputElement = document.querySelector('input')
    const loader: HTMLDivElement = document.querySelector('#loader')
    const erudaBTN: HTMLButtonElement = document.querySelector('#eruda')
    const prefix = store.get('proxy') === 'Scramjet' ? '/libs' : '/cdn-cgi'

    let isFav = false

    frame.onload = () => {
      if (!('__uv$location' in contentWindow)) return

      const currentUrl = contentWindow.__uv$location.href
      input.value = currentUrl
      isFav = false
      loader.style.display = 'none'
      const shortcuts: any[] = store('bookmarks')
      if (shortcuts.some((value) => value.url == contentWindow.__uv$location.href)) {
        bmIcon.classList.remove('fill-none')
        bmIcon.classList.add('fill-current')
      } else {
        bmIcon.classList.remove('fill-current')
        bmIcon.classList.add('fill-none')
      }

      const erudaScript = contentWindow.document.createElement('script')
      erudaScript.src = 'https://cdn.jsdelivr.net/npm/eruda'
      contentWindow.document.head.appendChild(erudaScript)

      handleCompatibility(new URL(currentUrl), () => {
        frame.contentWindow.location.reload()
      })
    }

    erudaBTN.onclick = () => {
      if (!('eruda' in contentWindow)) return
      if (contentWindow.eruda._isInit) {
        contentWindow.eruda.destroy()
      } else {
        contentWindow.eruda.init()
        contentWindow.eruda.show()
      }
    }

    input.onkeydown = (e) => {
      if (e.key !== 'Enter') return

      const query = input.value
      frame.src = `${prefix}/${encodeXor(formatQuery(query))}`
    }

    back.onclick = () => contentWindow.history.back()
    reload.onclick = () => contentWindow.location.reload()

    bookmark.onclick = () => {
      const bookmarks: any[] = store('bookmarks')
      if (!contentWindow.__uv$location) {
        toast.error('Failed to bookmark (No URL)')
        return
      }
      if (bookmarks.some((value) => value.url == contentWindow.__uv$location.href)) {
        store(
          'bookmarks',
          bookmarks.filter((value) => value.url !== contentWindow.__uv$location.href)
        )
        bmIcon.classList.remove('fill-current')
        bmIcon.classList.add('fill-none')
      } else {
        store('bookmarks', [
          ...store('bookmarks'),
          {
            image: (contentWindow.document.querySelector("link[rel*='icon']") as HTMLLinkElement)?.href || `${contentWindow.__uv$location.origin}/favicon.ico`,
            title: contentWindow.document.title,
            url: contentWindow.__uv$location.href
          }
        ])
        bmIcon.classList.remove('fill-none')
        bmIcon.classList.add('fill-current')
      }
    }

    open.onclick = () => {
      console.log('hi')
      const tab = window.open('about:blank', '_blank')
      if (!tab) return
      const iframe = tab.document.createElement('iframe')
      const stl = iframe.style
      stl.border = stl.outline = 'none'
      stl.width = '100vw'
      stl.height = '100vh'
      stl.position = 'fixed'
      stl.left = stl.right = stl.top = stl.bottom = '0'
      iframe.src = frame.src
      tab.document.body.appendChild(iframe)
    }
  })
</script>
